{% extends 'base.html.twig' %}

{% block title %}Conditions d'utilisation{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <h1 class="text-center">Conditions d'utilisation de Chez Gusteau</h1>
        <br>
        <p>
            <span class="fw-bold">1. Introduction</span><br>
            Bienvenue chez Chez Gusteau. En accédant à notre site web et en utilisant nos services, vous acceptez de respecter les présentes conditions d'utilisation. Veuillez les lire attentivement avant d'utiliser nos services.
        </p>
        <p>
            <span class="fw-bold">2. Définitions</span><br>
            - <span class="fw-bold">Chez Gusteau</span> : La société exploitant le site web et les services associés.<br>
            - <span class="fw-bold">Utilisateur</span> : Toute personne accédant au site web de Chez Gusteau ou utilisant ses services.<br>
            - <span class="fw-bold">Services</span> : Ensemble des services fournis par Chez Gusteau, y compris mais sans s'y limiter, la consultation du site web, les achats en ligne et l'accès aux contenus.
        </p>
        <p>
            <span class="fw-bold">3. Accès au Site</span><br>
            L'accès au site web de Chez Gusteau est gratuit. Cependant, certaines parties du site ou certains services peuvent nécessiter une inscription ou un abonnement payant.
        </p>
        <p>
            <span class="fw-bold">4. Inscription</span><br>
            Pour accéder à certains services, vous devrez créer un compte utilisateur. Vous êtes responsable de la confidentialité de vos informations de connexion et de toutes les activités qui se produisent sous votre compte.
        </p>
        <p>
            <span class="fw-bold">5. Utilisation des Services</span><br>
            Les utilisateurs s'engagent à utiliser les services de manière légale et appropriée. Toute utilisation abusive ou frauduleuse des services est strictement interdite. Chez Gusteau se réserve le droit de suspendre ou de résilier l'accès aux services en cas de non-respect des présentes conditions d'utilisation.
        </p>
        <p>
            <span class="fw-bold">6. Contenu Utilisateur</span><br>
            Les utilisateurs peuvent avoir la possibilité de soumettre des commentaires, avis ou autres contenus sur le site. En soumettant du contenu, vous accordez à Chez Gusteau une licence mondiale, non exclusive, transférable et gratuite pour utiliser, reproduire, modifier et afficher ce contenu.
        </p>
        <p>
            <span class="fw-bold">7. Propriété Intellectuelle</span><br>
            Tous les contenus présents sur le site de Chez Gusteau, y compris les textes, images, graphismes et logos, sont la propriété exclusive de Chez Gusteau ou de ses partenaires et sont protégés par les lois sur la propriété intellectuelle. Toute reproduction, distribution ou utilisation non autorisée de ces contenus est strictement interdite.
        </p>
        <p>
            <span class="fw-bold">8. Protection des Données Personnelles</span><br>
            Chez Gusteau s'engage à protéger les données personnelles des utilisateurs conformément à la réglementation en vigueur. Pour plus d'informations, veuillez consulter notre Politique de Confidentialité.
        </p>
        <p>
            <span class="fw-bold">9. Limitation de Responsabilité</span><br>
            Chez Gusteau ne saurait être tenu responsable des dommages directs ou indirects résultant de l'utilisation ou de l'impossibilité d'utiliser les services. Bien que nous nous efforcions de fournir des informations exactes et à jour, nous ne garantissons pas l'exactitude, la complétude ou l'actualité des informations disponibles sur le site.
        </p>
        <p>
            <span class="fw-bold">10. Modifications des Conditions d'Utilisation</span><br>
            Chez Gusteau se réserve le droit de modifier les présentes conditions d'utilisation à tout moment. Les modifications prendront effet dès leur publication sur le site. Il est de la responsabilité de l'utilisateur de consulter régulièrement les conditions d'utilisation.
        </p>
        <p>
            <span class="fw-bold">11. Droit Applicable et Juridiction Compétente</span><br>
            Les présentes conditions d'utilisation sont régies par le droit français. Tout litige relatif à l'interprétation ou à l'exécution des présentes sera soumis à la compétence exclusive des tribunaux français.
        </p>
        <p>
            <span class="fw-bold">12. Contact</span><br>
            Pour toute question ou réclamation relative aux présentes conditions d'utilisation, vous pouvez nous contacter à l'adresse suivante :<br>
            Chez Gusteau<br>
        </p>
        <p>
            Merci d'utiliser les services de Chez Gusteau. Nous espérons que vous apprécierez votre expérience avec nous.
        </p>
    </div>
</div>
{% endblock %}
